<div class="page-title">
    <h1>CHACRAS HEALTHY</h1>
  </div>
  
  <div *ngIf="!chacra" class="loading">
    <p>Cargando detalles...</p>
  </div>
  
  <div *ngIf="chacra" class="details-container">
    <h1>Detalles de la Chacra</h1>
    <p><strong>Título:</strong> {{ chacra.title }}</p>
    <p><strong>Descripción:</strong> {{ chacra.description }}</p>
    <p><strong>Horario de Atención:</strong> {{ chacra.openingHours }}</p>
    <p><strong>Nombre del Usuario Asociado:</strong> {{ chacra.user.name }}</p>
  </div>
  